<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PuppyLove</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-name>dbserverip</param-name>
    <param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
    <param-name>dbserverport</param-name>
    <param-value>1433</param-value>
  </context-param>
  <context-param>
    <param-name>dbusername</param-name>
    <param-value>sa</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>sqlserver</param-value>
  </context-param>
  <context-param>
    <param-name>database</param-name>
    <param-value>PuppyLove</param-value>
  </context-param>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
  </context-param>

  <servlet>
    <description></description>
    <display-name>LoadPuppy</display-name>
    <servlet-name>LoadPuppy</servlet-name>
    <servlet-class>com.web.load.LoadPuppy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPuppy</servlet-name>
    <url-pattern>/LoadPuppy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPuppy</display-name>
    <servlet-name>SearchPuppy</servlet-name>
    <servlet-class>com.web.load.SearchPuppy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPuppy</servlet-name>
    <url-pattern>/SearchPuppy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hospital</display-name>
    <servlet-name>Hospital</servlet-name>
    <servlet-class>com.web.load.Hospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hospital</servlet-name>
    <url-pattern>/Hospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageUs</display-name>
    <servlet-name>MessageUs</servlet-name>
    <servlet-class>com.web.load.MessageUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUs</servlet-name>
    <url-pattern>/MessageUs</url-pattern>
  </servlet-mapping>
</web-app>